/**Menu hamburguesa**/
:root{
  --main-font:sans-serif;
  --font-size:16px;
  --main-color:#818181;
  --second-color:#222;
  --main-modal-color:rgba(247,222,30,0.85);
  --second-modal-color:rgba(34,34,34,0.85);
  --container-width:1200px;
}
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
*,
*:before,
*:after{
  box-sizing:inherit;
}
body{
  margin: 0;
  overflow-x: hidden;
}
img{
  max-width: 100%;
  height: auto;
}

/****/
.header{
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: var(--main-color);
  color: var(--second-color);
}
.header h1{
  margin: 0 auto;
  text-align: center;
}
.section{
  padding: 2rem;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--container-width);
  min-height: 100vh;
  text-align:center;
}
.panel{
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--second-modal-color);
  transition:transform 0.3s ease;
  width: 100%;
  transform: translate(0,-100%);
  overflow: hidden;
}
.panel.is-active{
  transform: translate(0,0);
}
.panel-btn{
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  left: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: var(--main-color)!important;
}
.menuh{
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.menuh a{
  padding: 2rem;
  width: inherit;
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  color:var(--main-color);
  transition: all 0.3s ease;
}
.menuh a:hover{
  font-weight: bold;
  color:white;
  background-color:#818181;
}
.panel-btn:focus{
  outline: none;
}

/**Fin de menu hamburguesa**/
#servicios{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.servicio figcaption{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;

}
.servicio{
  display: flex;
  justify-content: center;
  align-items: center;
}
.servicio img{
  height: 300px;
}
.servicio figcaption img{
  width: 100%;
  height: 100%;
  display: none;
}
.servicio{
  height: 610px;
  width: 100%;
  margin: 0px auto;
  background-color: white;
  color: black;
  text-align: center;
  line-height: 610px;
  font-size: 60px;
  position: relative;
}
.servicio1d{
  background-color:#007caa;
}
.servicio2d{
  background-color:#efcc8f;
}
.servicio3d{
  background-color: #f6c063;
}
.servicio4d{
  background-color:#f29a50;
}
.servicio5d{
  background-color:#ee6f32;
}
.servicio6d{
  background-color:#ec512f;
}
.servicio figcaption input[type="button"]{
  width: 120px;
  height: 50px;
  position: absolute;
  font-size: 17px;
  cursor: pointer;
  border:1px solid white;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  text-transform: uppercase;
  color: white;
  opacity:1;
}
.servicio1d figcaption input[type="button"]{
  bottom: 10px;
  right: 461px;
  background: #007caa;
}
.servicio2d figcaption input[type="button"]{
  height: 50px;
  bottom: 10px;
  right: 543px;
  background: #efcd90;
}
.servicio3d figcaption input[type="button"]{
  bottom: 10px;
  left: 185px;
  background-color: #f6c063;
}
.servicio4d figcaption input[type="button"]{
  bottom: 10px;
  right: 600px;
  background: #ff9b49;
}
.servicio5d figcaption input[type="button"]{
  bottom: 10px;
  left: 185px;
  background: #ff7029;
}
.servicio6d figcaption input[type="button"]{
  bottom: 10px;
  left: 185px;
  background: #ff5029;
}
@media (max-width:1343px) {
  .servicio1d figcaption input[type="button"]{
    right: 325px;
  }
  .servicio2d figcaption input[type="button"]{
    right: 482px;
  }
  .servicio3d figcaption input[type="button"]{
    right: 368px;
  }
  .servicio4d figcaption input[type="button"]{
    right: 410px;
  }

}
@media (max-width:1100px) {
  .servicio{
    height: 391px;
  }
  .servicio img{
    height: 215px;
  }
  .servicio1d figcaption input[type="button"]{
    right: 229px;
  }
  .servicio2d figcaption input[type="button"]{
    right: 210px;

  }
  .servicio3d figcaption input[type="button"]{
    right: 250px;

  }
  .servicio4d figcaption input[type="button"]{
    right: 290px;

  }

}

@media (max-width:950px) {
  .servicio1d figcaption input[type="button"]{
    bottom: 10px;
    right: 192px;
    background: #007caa;
  }
  .servicio2d figcaption input[type="button"]{
    height: 50px;
    bottom: 10px;
    right: 192px;
    background: #efcd90;
  }
  .servicio3d figcaption input[type="button"]{
    bottom: 10px;
    left: 143px;
    background-color: #f6c063;
  }
  .servicio4d figcaption input[type="button"]{
    bottom: 10px;
    right: 192px;
    background: #ff9b49;
  }
  .servicio5d figcaption input[type="button"]{
    bottom: 10px;
    left: 143px;
    background: #ff7029;
  }
  .servicio6d figcaption input[type="button"]{
    bottom: 10px;
    left: 143px;
    background: #ff5029;
  }
}
@media (max-width:700px) {
  .servicio1d figcaption input[type="button"]{
    bottom: 10px;
    right: 120px;
    background: #007caa;
  }
  .servicio2d figcaption input[type="button"]{
    height: 50px;
    bottom: 10px;
    right: 120px;
    background: #efcd90;
  }
  .servicio3d figcaption input[type="button"]{
    bottom: 10px;
    left: 107px;
    background-color: #f6c063;
  }
  .servicio4d figcaption input[type="button"]{
    bottom: 10px;
    right: 120px;
    background: #ff9b49;
  }
  .servicio5d figcaption input[type="button"]{
    bottom: 10px;
    left: 107;
    background: #ff7029;
  }
  .servicio6d figcaption input[type="button"]{
    bottom: 10px;
    left: 143px;
    background: #ff5029;
  }

}
@media (max-width:770px) {
  .servicio1d figcaption input[type="button"]{
    right: 130px;
  }
  .servicio3d figcaption input[type="button"]{
    right: 110px;
  }

}
@media (max-width:660px) {
  .servicio figcaption input[type="button"]{
    width: 120px!important;
    font-size: 20px;
    font-weight: bold;
  }
  .servicio{
    width: 100%;
    height: 288px !important;
  }
  .servicio img{
    height: 213px;
  }
  .servicio1d figcaption input[type="button"]{
    right: 125px;
  }
  .servicio2d figcaption input[type="button"]{
    right: 148px;
  }
  .servicio3d figcaption input[type="button"]{
    right: 150px;
  }
  .servicio4d figcaption input[type="button"]{
    right: 176px;
  }

}
@media (max-width:590px) {
  .servicio figcaption input[type="button"]{
    width: 148px;
    font-size: 18px;
  }

}
@media (max-width:465px) {
  .servicio img{
    height: 159px;
  }
  .servicio1d figcaption input[type="button"]{
    right: 80px;

  }
  .servicio2d figcaption input[type="button"]{
    right: 115px;

  }
  .servicio4d figcaption input[type="button"]{
    right: 110px;
  }
  .servicio5d figcaption input[type="button"]{
    left: 50px;
  }
  .servicio6d figcaption input[type="button"]{
    left: 60px;
  }
}

@media (max-width:380px) {
  .servicio{
    height: 210px!important;
  }
  .servicio img{
    height: 120px;
  }
  .servicio1d figcaption input[type="button"]{
    right: 34px;
  }

  .servicio2d figcaption input[type="button"]{
    right: 60px;
  }
  .servicio3d figcaption input[type="button"]{
    left: 34px;
  }
  .servicio4d figcaption input[type="button"]{
    right: 60px;
  }
  .servicio5 figcaption input[type="button"]{
    left: 42px;
  }
  .servicio6 figcaption input[type="button"]{
    left: 44px;
  }
  .servicio8 figcaption input[type="button"]{
    left: 34px;
  }
  .servicio figcaption input[type="button"]{
        height: 20px;
        width: 66px!important;
        font-size: 11px;
    }


}
input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
opacity: 1
}
